.hero__cta, .button {
  align-items: center;
  background-color: $color-secondary;
  border: none;
  border-radius: 999px;
  color: $color-light;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  gap: 0.5rem;
  margin: 0 auto;
  padding: 0.9rem 1.6rem;
  text-decoration: none;
}

.hero__cta:hover, .button:hover,
.hero__cta:focus-visible, .button:focus-visible {
  background-color: color.adjust($color-secondary, $lightness: -7%);
}

.hero__cta i, .button i {
  font-size: 1.1rem;
}

