@mixin container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 1rem;
}

@mixin hover-darken($color, $amount) {
  background-color: $color;

  &:hover,
  &:focus-visible {
    background-color: color.adjust($color, $lightness: - $amount);
  }
}